{%extends 'ad_layout.html'%}
{%block content%}
<div class="card card-primary" style="    width: 606px;
left: 313px;">
    <div class="card-header">
      <h3 class="card-title">Add Docter</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action="" method='POST'role="form">
      {{ form.hidden_tag() }}
      <div class="card-body">
        <div class="form-group">
            <label for="exampleInputName">Full name</label>
            {% if form.name.errors %}
             {{ form.name(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
              {% for error in form.name.errors %}
            <span>{{ error }}</span>
                       {% endfor %}
                  </div>
             {% else %}
                {{ form.name(class="form-control form-control-lg") }}
           {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputAge">Age</label>
            {% if form.age.errors %}
             {{ form.age(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
              {% for error in form.age.errors %}
            <span>{{ error }}</span>
                       {% endfor %}
                  </div>
             {% else %}
                {{ form.age(class="form-control form-control-lg") }}
           {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputQualification">Qualification</label>
            {% if form.quali.errors %}
             {{ form.quali(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
              {% for error in form.quali.errors %}
            <span>{{ error }}</span>
                       {% endfor %}
                  </div>
             {% else %}
                {{ form.quali(class="form-control form-control-lg") }}
           {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Specilized Area</label>
            {% if form.speci.errors %}
             {{ form.speci(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
              {% for error in form.speci.errors %}
            <span>{{ error }}</span>
                       {% endfor %}
                  </div>
             {% else %}
                {{ form.speci(class="form-control form-control-lg") }}
           {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputDoctertype">DocterType</label>
            {% if form.doctype.errors %}
            {{ form.doctype(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
             {% for error in form.agdoctypee.errors %}
           <span>{{ error }}</span>
                      {% endfor %}
                 </div>
            {% else %}
               {{ form.doctype(class="form-control form-control-lg") }}
          {% endif %}
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          {% if form.email.errors %}
             {{ form.email(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
              {% for error in form.email.errors %}
            <span>{{ error }}</span>
                       {% endfor %}
                  </div>
             {% else %}
                {{ form.email(class="form-control form-control-lg") }}
           {% endif %}
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {%endblock%}