{%extends 'ad_layout.html'%}
{%block content%}

<div class="col-12" style="    left: 267px;
max-width: 74%;">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Viewing docter details</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
        <thead>
        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Id</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Name</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Age</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Qualification</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Specilizedarea</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Doctertype</th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Email</th>
            <th></th>  
          </tr>
        </thead>
        <tbody>
          {%for c in c %}
          <tr role="row" class="odd">
          <td class="sorting_1">{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.age}}</td>
          <td>{{c.Qualification}}</td>
          <td>{{c.specilizedarea}}</td>
          <td>{{c.doctertype}}</td>
          <td>{{c.email}}</td>
          <td><a href="/ad_docteredit/{{c.id}}" ><button style="color: red;">Edit</button></a>  <a href="/docterdelete/{{c.id}}"><button style="color: green;"> Del</button></a></td>
          </tr>
           {%endfor%}
        </tbody>
        <tfoot>
    
        </tfoot>
      </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"></div></div></div></div>
    </div>
    <!-- /.card-body -->
  </div>
</div>
{%endblock%}