
{%extends 'layout.html'%}
{%block content%}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="stylewise.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
</head>

<body>
    

  <header>
    
    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('../static/images/cover2.jpg')">

        </div>
          <div class="carousel-item " style="background-image: url('../static/images/coverpic8.jpg')">

        </div>
        <div class="carousel-item " style="background-image: url('../static/images/grandparents.jpg')">

        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>  

  </header>
  
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>
<style>
.my-nav{
position: absolute;
z-index: 10;
width: 100%;
}

.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="row">
      <div class="col-lg-4 about-imgs-txt">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 text-center">
            <div class="about-span-txt">
              <span class="fa fa-handshake-o" aria-hidden="true"></span>
            </div>
          </div>
          <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
            <h6 class="mb-lg-3 mb-2">Babycare</h6>
            <p>Giving a better care for babies in an better place.Beliveble and trusted environment.</p>
          </div>
        </div>
        <div class="row my-lg-5 my-md-4 my-3">
          <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
            <h6 class="mb-lg-3 mb-2">Health care</h6>
            <p>A space for developing and protecting health</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 text-center">
            <div class="about-span-txt">
              <span class="fa fa-superpowers" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 text-center">
            <div class="about-span-txt">
              <span class="fa fa-binoculars" aria-hidden="true"></span>
            </div>
          </div>
          <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
            <h6 class="mb-lg-3 mb-2">old people care</h6>
            <p>Refreshing the mind and giving new special care for old people.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 about-imgs-txt">
        <img src=../static/images/bg1.jpg alt="news image" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-6 text-right about-two-grids">
        <h3 class="title mb-md-4 mb-sm-3 mb-3">What Is Our History</h3>
        <div class="about-para-txt">
          <p>The organisation start with the idea of care and health.The idea mainly focus on the old and smallest once who need better care and a refreshful mind.Both the programme for humans so the people who have no time for health care especially the homemakers giving an oppurtunity for health care.The main advantage is the time is only depent on the users.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog" id="blog">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 ">
        <div class="blog-wthree-list" style=" background: url(../static/images/b5.jpg)">
          
          <h4 class="mb-3">
            <a href="single.html">Babycare</a>
          </h4>
          <p>Giving better training and personality development for childrens.The best belivable place for parents.</p>
          <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
            <a href="single.html" class="btn">Read More</a>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 main-title-text">
        <h3 class="title">Our Latest News &amp; Blog</h3>
      </div>
    </div>
    <div class="row mt-lg-4 mt-3">
      <div class="col-lg-6 blog-two-two">
        <div class="blog-date-time mb-2">
          <ul>
            <li>
              <a href="single.html"></a>
            </li>
            <li>
              <a href="single.html"></a>
            </li>
          </ul>
        </div>
        <h4 class="mb-3">
          <a href="single.html">Healthcare</a>
        </h4>
        <p>Yoga and health management techniqe and classes from powerful resources</p>
        <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
          <a href="single.html" class="btn">Read More</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="../static/images/hd2.jpg" alt="news image" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="../static/images/last.jpg" style="height: 100%;" alt="news image" class="img-fluid">
      </div>
      <div class="col-lg-6 blog-two-two">
        <div class="blog-date-time mb-2">
          <ul>
            <li>
              <a href="single.html"></a>
            </li>
            <li>
              <a href="single.html"></a>
            </li>
          </ul>
        </div>
        <h4 class="mb-3">
          <a href="single.html">Old people care</a>
        </h4>
        <p>making a space for old peoples who suffered lonelyness and boring at home and</p>
        <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
          <a href="single.html" class="btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
  <br>

{%endblock%}