{%extends 's_layout.html'%}
{%block content%}
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-color:black;
  text-align: left;
  background-color:rgb(14, 2, 2);
  color: white;
}
</style>
</head>
<body>
<center>
<table id="customers" style="width:800px;">
  <tr>
    
    <th>Eventname</th>
    <th>Eventdate</th>
    <th>Eventtime</th>
    <th>Eventtype</th>
    <th></th>
  </tr>
  <tbody>
    {%for o in o %}
    <tr role="row" class="odd">
    <td>{{o.eventname}}</td>
    <td>{{o.eventdate}}</td>
    <td>{{o.eventtime}}</td>
    <td>{{o.eventtype}}</td>
    <td><a href="/editevent/{{o.id}}"><button style="color: green;">Edit</button></a>  <a href="/delevent/{{o.id}}"><button style="color: red;">Delete</button></a></td>
     </tr>
     {%endfor%}</tbody>
  
</table>
</center>
</body>
</html>
<br>
<br>
{%endblock%}