{%extends 's_layout.html'%}
{%block content%}
<br>
<br>
<br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="py-5 bg-primary" style="background-color: #e26f1136!important;">
    <div class="container">
	<div class="row">
		<div class="col-md-8" style="margin-left: 190px;">
		    <div class="card shadow">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12 ">
		                        <h5>Add Your feedback</h5>
		                        <hr>
                                <div class="form-group">
                                 <form  class=""  action="" method="POST">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" rows="5" ></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                      <input type="submit" class="btn btn-success "  value="SUBMIT">
                                    </div>
                                  </form>
                                 
                    
                                </div>
                    
                            </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
</section>
{%endblock%}