{%extends 'userlayout.html'%}
{%block content%}
<section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="row">
      <div class="col-lg-4 main-title-text">
        <h3 class="title">What We Offers &amp; Services</h3>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-handshake-o" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Services 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-free-code-camp" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Services 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-clone" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Services 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-linode" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Services 4</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-binoculars" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Services 5</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
            <div class="ser-fashion-grid">
              <div class="about-icon mb-md-4 mb-3">
                <span class="fa fa-bookmark-o" aria-hidden="true"></span>
              </div>
              <div class="ser-sevice-grid">
                <h4 class="pb-3">Services 6</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="booking py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="booking-here text-center">
      <h5>Let Make Booking Here</h5>
      <p class="mt-lg-4 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.Vestibulum nibh urna</p>
      <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
        <a href="contact.html" class="btn">Book Here</a>
      </div>
    </div>
  </div>
</section>
<section class="price py-lg-4 py-md-3 py-sm-3 py-3" id="price">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 pricing-grid">
            <div class=" w3ls-bottom">
              <span class="fa fa-free-code-camp mb-lg-5 mb-md-4 mb-3" aria-hidden="true"></span>
              <h4 class="mb-lg-4 mb-md-3 mb-3">Package 1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.Vestibulum nibh urna</p>
              <h4 class="pt-3"> 900
                <span class="sup-doller">$</span>
              </h4>
              <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                <a href="contact.html" class="btn">Book Here</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 pricing-grid">
            <div class=" w3ls-bottom">
              <span class="fa fa-free-code-camp mb-lg-5 mb-md-4 mb-3" aria-hidden="true"></span>
              <h4 class="mb-lg-4 mb-md-3 mb-3">Package 2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.Vestibulum nibh urna</p>
              <h4 class="pt-3">750
                <span class="sup-doller">$</span>
              </h4>
              <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                <a href="contact.html" class="btn">Book Here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 main-title-text">
        <h3 class="title">Our Pricing Package</h3>
      </div>
    </div>
  </div>
</section>



{%endblock%}